# Visual Studio
.vscode/

# Backend artifacts
/backend/bin/
/backend/obj/
/backend/*.db
/backend/*.db-shm
/backend/*.db-wal

# Frontend artifacts
/frontend/node_modules/
/frontend/dist/

# OS files
.DS_Store
Thumbs.db
